@model Book

@{
    ViewData["Title"] = "Edit book details";
}<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Edit book details</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group" text-center>
                        <img id="PhotoPreview" style="max-width: 240px;"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhotoURL" class="control-label"></label>
                        <input asp-for="PhotoURL" class="form-control"/>
                        <span asp-validation-for="PhotoURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly/>
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right"/>
                        <a class="btn btn-danger float-right" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('PhotoPreview');
            output.src = $("#PhotoURL").val();
        })

        $("#PhotoURL").on("change", function(){
            var output = document.getElementById("PhotoPreview");
            output.src = $(this).val();
        })
    </script>
}